certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comtypes==1.4.4
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
dill==0.3.8
fonttools==4.53.0
gunicorn==22.0.0
h11==0.14.0
idna==3.7
kiwisolver==1.4.5
libretranslatepy==2.1.1
lxml==5.2.2
matplotlib==3.9.0
multiprocess==0.70.16
numpy==2.0.0
numpy-stl==1.4.2
packaging==24.1
pathos==0.3.2
pillow==10.3.0
pocketsphinx==5.0.3
pox==0.3.4
ppft==1.7.6.8
PyAudio==0.2.14
pycparser==2.22
PyExecJS==1.5.1
pyparsing==3.1.2
pypiwin32==223
pyTelegramBotAPI==4.19.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-utils==3.8.2
pyttsx3==2.90
pywin32==306
requests==2.32.3
setuptools==70.1.0
six==1.16.0
sounddevice==0.4.7
SpeechRecognition==3.10.4
tqdm==4.66.4
translate==3.6.1
translators==5.9.2
typing_extensions==4.12.2
urllib3==2.2.1
uvicorn==0.30.1
